body {background-color: #ffffff; text-align: justify; font-size: 18PX;}
h1 {text-align: center; background-color:   #ffffff; color: #1736e6}
h3 {text-align: justify; color: rgb(0, 60, 255);}
b {color: rgb(0, 59, 223); font-size: 18px;}
i {color: rgb(7, 74, 175); font-size: 18px}
header,footer {background-color:#a78e00; color: #0037cf; text-align: center; font-size: 20px}
main {background-color:#ffffff;}
.PRIMEIROPARAGRAFO {text-align: justify; font-size: 18px; border: rgb(0, 47, 255) solid 2px;}